 <div id="wrapper">

        <div ng-include="'partials/navigation.html'">
        </div>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            General <small>Settings</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                  <div class="row">
                    <div class="col-lg-12">
                        
                            <div class="alert alert-success" ng-show="!save && save_success">
                                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{selected.username}}</strong> Changes saved
                            </div>
                        <div class="table-responsive">
                            <div class="col-lg-6">
                            <h3><span class="glyphicon glyphicon-eye-open"></span> Administrators</h3>
                            <hr>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>E-mail</th>
                                        <th>Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="admin in administrators">
                                        <td>{{admin.id}}</td>
                                        <td>{{admin.first_name}} {{admin.last_name}}</td>
                                        <td>{{admin.email}}</td>
                                        <td><span class="glyphicon glyphicon-ok cursorchg" ng-show="admin.active == 1"> Active</span><span class="glyphicon glyphicon-remove cursorchg" ng-show="admin.active == 0"> Not active</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3><span class="glyphicon glyphicon-euro"></span> Currencies</h3>
                            <hr>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Country</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="curr in currencies">
                                        <td>{{curr.id}}</td>
                                        <td>{{curr.name}}</td>
                                        <td>[{{curr.country_id}}] {{curr.country_name}}</td>
                                        <td><span class="glyphicon glyphicon-remove-sign cursorchg" ng-click="deleteCurrency(curr.id)"> Delete</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <div class="panel panel-default">
	                            	<div class="panel-heading">
	                                        <h5>Add new currency<h5>
	                                </div>
	                                <div class="panel-body">
	                                	<p>ID</p>
	                                    <input class="form-control pulltop" ng-model="newCurrency.id">
	                                	<p>Name</p>
	                                    <input class="form-control pulltop" ng-model="newCurrency.name">
	                                    <p>Country</p>
	                                    <select class="form-control pulltop" ng-model="newCurrency.country_id">
                                             <option
                                                ng-repeat="country in countries"
                                                value="{{country.id}}">
                                                [{{country.id}}] {{country.name}}
                                             </option>
                                        </select>
	                                    
	                                    <button class="btn btn-primary pulltop" ng-click="addCurrency()"><span class="glyphicon glyphicon-usd"></span> Add new currency</button>
	                                </div>
	                           		</div>
                        	
                        </div>
                        <div class="col-lg-6">
                        	
                        </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

             

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->