<div class="container">

<div class="col-lg-4 pulltop loginform">
        <div class="insideloginform">
            <div class="form-group">
                <input type="text" class="form-control input-lg"  placeholder="Username" ng-model="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password" ng-model="password">
            </div>
            <div>
                <a class="btn btn-default btn-lg submitbutton pull-right" role="button" ng-click="login()">Log in</a>
              
                  <!--<oauth
                        site="http://oauth-ng-server.herokuapp.com."
                        client-id="017b9f702a904869a6e52bd39b147bb912"
                        redirect-uri="http://localhost/pais/#/newOrder"
                        profile-uri="http://oauth-ng-server.herokuapp.com/api/v1/me"
                        scope="public">
                </oauth>  -->
            </div>
        </div>
        <div class="alert alert-danger pulltop30" ng-show="loginFailed">
            <strong>LOGIN</strong> Login failed. Check credentials and try again.
        </div>
<div>
</div>