<div class="container">

    <div class="col-lg-4 pulltop loginform">
            <div class="insideloginform">
                <div>
                    <a class="btn btn-default btn-lg submitbutton pull-right" role="button" href="http://www.agro-pais.com/login.php">Log in</a>
                </div>
            </div>
            <div class="alert alert-danger pulltop30" ng-show="expired">
                <strong>LOGIN</strong> Session expired.
            </div>
    <div>

</div>
</div>

<div class="footer">
    <div class="container contExt">
        <div class="col-sm-4">
        <img src="img/euc.svg" class="logoExt"></img>
        <img src="img/acc.svg" class="logoExt"></img>
        <img src="img/fractals_logo.png" class="logoExt"></img>
        </div>
        <div class="col-sm-8">
        <p><small>This project is funded by FRACTALS (Future Internet Enabled Agricultural Applications, FP7 project No. 632874), under the funding framework of the European Commission</small></p>
    </div>
    </div>
</div>
