<div class="container">

<div class="col-lg-3 pulltop loginform">
        <form class="insideloginform">
            <div class="form-group">
                <input type="email" class="form-control input-lg" id="inputEmail" placeholder="Korisničko ime">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" id="inputPassword" placeholder="Lozinka">
            </div>
            <div>
                <a class="btn btn-default btn-lg submitbutton pull-right" role="button" href="#/mainPage">

                    Ulaz</a>
              
                  <!--<oauth
                        site="http://oauth-ng-server.herokuapp.com."
                        client-id="017b9f702a904869a6e52bd39b147bb912"
                        redirect-uri="http://localhost/pais/#/newOrder"
                        profile-uri="http://oauth-ng-server.herokuapp.com/api/v1/me"
                        scope="public">
                </oauth>  -->
            </div>
        </form>
<div>
</div>