 <div id="wrapper">

        <div ng-include="'partials/navigation.html'">
        </div>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Operators <small>Settings</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                  <div class="row">
                    <div class="col-lg-12">
                        
                            <div class="alert alert-success" ng-show="!save && save_success">
                                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{selected.username}}</strong> Changes saved
                            </div>
                        <div class="table-responsive">
                            <div class="col-lg-6">
                            <h2>Operator companies</h2>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                        <h5>Add new company <span class="pull-right cursorchg" ng-click="toggleNewCompany()">Toggle</span><h5>
                                </div>
                                <div class="panel-body" ng-show="newCompanyPanel">
                                    <p>Name</p>
                                    <input class="form-control pulltop" ng-model="newCompany.name">
                                    <p>City</p>
                                    <select class="form-control pulltop" ng-model="newCompany.city_id">
                                             <option
                                                ng-repeat="city in cities"
                                                value="{{city.id}}">
                                                [{{city.country_id}}] {{city.name}}
                                             </option>
                                    </select>
                                    <button class="btn btn-primary pulltop" ng-click="addNewCompany()">Add new company</button>
                                </div>
                            </div>
                            <hr>
                            <h4>Companies</h4>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>City</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="company in companies" ng-click="select(company.id)" ng-class="{'active' : isActive(company.id)}">
                                        <td><span class="glyphicon glyphicon-remove-sign cursorchg" ng-click="removeCompany(company.id)"></span> Delete</td>
                                        <td>{{company.name}}</td>
                                        <td>{{company.city_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                        <div class="col-lg-6">
                            <h2>Operators</h2>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                        <h5>Add new operator <span class="pull-right cursorchg" ng-click="toggleNewOperator()">Toggle</span><h5>
                                </div>
                                <div class="panel-body" ng-show="newOperatorPanel">
                                    <p>First name</p>
                                    <input class="form-control pulltop" ng-model="newOperator.first_name">
                                    <p>Last name</p>
                                    <input class="form-control pulltop" ng-model="newOperator.last_name">
                                    <p>Username</p>
                                    <input class="form-control pulltop" ng-model="newOperator.username">
                                    <p>Password</p>
                                    <input class="form-control pulltop" ng-model="newOperator.password">
                                    <p>Phone</p>
                                    <input class="form-control pulltop" ng-model="newOperator.phone">
                                    <p>E-mail</p>
                                    <input class="form-control pulltop" ng-model="newOperator.email">
                                    <p>Company</p>
                                    <select class="form-control pulltop" ng-model="newOperator.company_id">
                                             <option
                                                ng-repeat="company in companies"
                                                value="{{company.id}}">
                                                {{company.name}}
                                             </option>
                                    </select>
                                    <button class="btn btn-primary pulltop" ng-click="addNewOperator()">Add new operator</button>
                                </div>
                            </div>
                            <hr>
                            <h4>Operators from {{selected.name}}</h4>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Username</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="operator in operators">
                                        <td><span class="glyphicon glyphicon-remove-sign cursorchg" ng-click="removeOperator(operator.id)"></span> {{operator.id}}</td>
                                        <td><a href="#/operatorDetailed/{{operator.id}}/">{{operator.first_name}} {{operator.last_name}}</a></td>
                                        <td>{{operator.username}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

             

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->