 <div id="wrapper">

        <div ng-include="'partials/navigation.html'">
        </div>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Orders <small>List of all orders</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                  <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">  
                            <div class="panel-heading">
                                <h5>Filter<h5>
                            </div>
                            <div class="panel-body">
                                <button class="btn btn-primary" ng-click="getCount(-1)">Show all</button>
                                <button class="btn btn-danger" ng-click="getCount(0)">Show inactive</button>
                                <button class="btn btn-warning" ng-click="getCount(1)">Show pending</button>
                                <button class="btn btn-success" ng-click="getCount(2)">Show active</button>
                            </div>
                        </div>
                            <div class="alert alert-success" ng-show="!save && save_success">
                                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{selected.username}}</strong> Changes saved
                            </div>
                        <div class="table-responsive">
                            <div class="col-lg-6">
                            <h4 ng-if="filter == -1">All orders</h4>
                            <h4 ng-if="filter == 0">Inactive orders</h4>
                            <h4 ng-if="filter == 1">Pending orders</h4>
                            <h4 ng-if="filter == 2">Active (payed) orders</h4>
                            <p ng-show="loadingOrders">Loading orders...</p>
                            <table class="table table-bordered table-hover" ng-show="!loadingOrders">
                                <thead>
                                    <tr>
                                        <th>ID/Status</th>
                                        <th>Name</th>
                                        <th>Order date</th>
                                        <th>Details/Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="order in orders" ng-click="select(order.order_id, order.client_id)" ng-class="{'active' : isActive(order.order_id, order.client_id)}">
                                        <td>{{order.order_id}} <span class="badge activeBadge" ng-if="order.status==2">active</span><span class="badge" ng-if="order.status==1">pending</span><span class="badge notActiveBadge" ng-if="order.status==0">inactive</span></td>
                                        <td>{{order.name}}</td>
                                        <td>{{order.created_at}}</td>
                                        <td><a href="#/orderDetailed/{{order.order_id}}/{{order.client_id}}"><span class="glyphicon glyphicon-new-window"></span> Go to Actions</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="pagination">
                              <li><a class="cursorchg" ng-show="currentPage > 1" ng-click="setPage(currentPage-1)">Previous</a></li>
                              <li><a  class="cursorchg" ng-show="currentPage > 1" ng-click="setPage(currentPage - 1)">{{currentPage - 1}}</a></li>
                              <li><a class="activePagging">{{currentPage}}</a></li>
                              <li><a class="cursorchg" ng-show="currentPage + 1 <= pages" ng-click="setPage(currentPage + 1)">{{currentPage + 1}}</a></li>
                              <li><a class="cursorchg" ng-show="(currentPage + 1) <= pages" ng-click="setPage(currentPage+1)">Next</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-default panelSmallBorderTop">
                                    <div class="panel-heading panelSmallTop">
                                        <h4>{{selected.name}}<h4>
                                    </div>
                                    <div class="panel-body" ng-show="!loaded">
                                        <p>Loading order details...</p>
                                    </div>
                                    <div class="panel-body" ng-show="loaded">
                                        <div class="panel panel-default panelSmallBorderTop" ng-show="selected.description.length > 0">
                                            <div class="panel-heading panelSmallTop">
                                                <p>Description/Additional remarks<p>
                                            </div>
                                            <div class="panel-body">
                                                {{selected.description}}
                                            </div>
                                        </div>
                                        <div class="panel panel-default panelSmallBorderTop" ng-show="selected.start_date!=null && selected.end_date!=null">
                                            <div class="panel-heading panelSmallTop">
                                                <p>Service time<p>
                                            </div>
                                            <div class="panel-body">
                                                <p>From: {{selected.start_date}}<p>
                                                <p>To: {{selected.end_date}}<p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h5>Ordered By: {{selectedDetailedUser.first_name}} {{selectedDetailedUser.last_name}}<h5>
                                            </div>
                                            <div class="panel-body">
                                                <p>Username: {{selectedDetailedUser.username}}</p>
                                                <p>Email: {{selectedDetailedUser.email}}</p>
                                                <p>Country: {{selectedDetailedUser.country_code}}</p>
                                                <p>Phone: {{selectedDetailedUser.phone}}</p>
                                            </div>
                                        </div>
                                        <h4 ng-if="selectedDetailed.polygons.length>0">Images</h4>
                                        <div class="panel panel-default panelSmallBorder" ng-repeat="ter in selectedDetailed.polygons">
                                            <div class="panel-heading panelSmall">
                                                <h5>Territory {{ter.polygon_id}}<h5>
                                            </div>
                                            <div class="panel-body">
                                                <p>Description/Additional remark: {{ter.description}}</p>
                                                <p>Surface: {{ter.surface}}</p>
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Latitude</th>
                                                            <th>Longitude</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="coord in ter.coordinates">
                                                            <td>{{coord.latitude}}</td>
                                                            <td>{{coord.longitude}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <h4 ng-if="selectedDetailed.sensors.length>0">Sensors</h4>
                                        <div class="panel panel-default panelSmallBorderSen" ng-repeat="sen in selectedDetailed.sensors">
                                            <div class="panel-heading panelSmallSen">
                                                <h5>Sensor {{sen.sensor_id}}<h5>
                                            </div>
                                            <div class="panel-body">
                                                <p>Description/Additional remarks: {{sen.description}}</p>
                                                <p>Type: {{getSensorTypeName(sen.type_id)}}</p>
                                                <p>UOM: {{getUOMName(sen.uom_id)}}</p>
                                                <span class="badge activeBadge" ng-show="sen.active==1">Active</span><span class="badge notActiveBadge" ng-show="sen.active==0">Not active</span>
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Latitude</th>
                                                            <th>Longitude</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{sen.latitude}}</td>
                                                            <td>{{sen.longitude}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                         
                                    </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

             

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->