 <div id="wrapper">

        <div ng-include="'partials/navigation.html'">
        </div>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Transakcije <small>Lista transakcija</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Transakcije <a href="#" class="btn btn-info pull-right" role="button">Nova transakcija</a></h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Korisnik</th>
                                        <th>Datum registracije</th>
                                        <th>Broj narudžbina</th>
                                        <th>Tip</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in users">
                                        <td>{{user.name + " " + user.lastname}}</td>
                                        <td>{{user.dateReg}}</td>
                                        <td>{{user.orders}}</td>
                                        <td>{{user.userType}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

             

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->